#{extends 'main.html' /}
#{set title:'Caterpillar - Heroku Developer workshop' /}
#{set 'morescripts'}
<meta http-equiv="refresh" content="600">

#{/set}
<div class="row">
  	<div class="span2">
  	</div>	
    <div class="span10">
#{if app.status == 'complete' }
<div class="alert alert-info">
Your app has been successfully created !!! 
</div>
</div>
</div>
<div class="row">
  	<div class="span2">
  	</div>	
    <div class="span10">
      <form class="well" action="" method="POST">
        <label for="appName" class="control-label">Application Name</label>
        <input class="focussed span4" type="text" id="appName" name="appName" value="${app.appName}" disabled maxlength="40"/>
        <label for="appUrl" class="control-label">Application URL</label>
        <a class="focussed span4" id="appUrl" name="appUrl" href="${app.appUrl}" target="_blank">${app.appUrl}</a>
        <label for="appGitUrl" class="control-label">Application Git Url</label>
        <input class="focussed span4" type="text" id="appGitUrl" name="appGitUrl" value="${app.appGitUrl}"/>
      </form>
    </div>
  </div>
#{/if}

#{if app.status == 'new' }
<div class="alert alert-info">
Almost there, your app is being created !!!<br/> Click <a style="text-decoration:underline;" href="javascript:location.reload(true);">here</a> to refresh status  
</div>

#{/if}