#{extends 'main.html' /}
#{set title:'Caterpillar - Heroku Developer workshop' /}
#{set 'moreStyles'}
<style type="text/css" media="screen">
input.blur {
    color: #999;
}
.codeExample {
    background-color: #dddddd;
    margin-left: 30px;
    padding: 10px;
    font-family: monospace;
    font-size: 10pt;
}
h4 {
    font-size: 10pt;
}
h5 {
    margin-left: 20px;
    font-size: 8pt;
}
label.app {
    width: auto;
    float: none;
    font-size: 16px;
}
</style>
#{/set}
#{set 'morescripts'}
<script type="text/javascript">

    var apps = {
        "demo1":"git://github.com/jamesward/java-webapp-template.git",
        "demo2": "git://github.com/jamesward/hellospringroo.git",
        "demo3": "git://github.com/jamesward/helloplay.git",
        "demo4": "git://github.com/anandbn/websolr-java.git"
    };

    function submitForm(appName) {
       /*
       if($("#emailAddress").val().length==0){
       	alert("Email is required. Please enter a valid email address");
       	return false;
       }
       $("#gitUrl").val(apps[appName]);
       $("#theForm").submit();
       */
       
       if($("#emailAddress").val().length==0){
       	alert("Email is required. Please enter a valid email address");
       	return false;
       }
       var clonedApp;
       $.ajax("/shareApp", {
                type: 'POST',
                data: {
                    emailAddress: $('#emailAddress').val(),
                    gitUrl: apps[appName]
                },
                success: function(data, textStatus, jqXHR) {
					
					onShareCreate(data);
                    
                },
                error: function(jqXHR, textStatus, errorThrown) {
                	alert('Error Submitting Request');
                }

            });
 	}
 	
 	function onShareCreate(clonedApp){
 		var stsMsg = clonedApp.status;
 		top.location="/appGetStarted?appId="+clonedApp.id;	
 	
 	}
</script>
#{/set}
<form id="theForm" action="/shareApp" method="POST"> 
<input type="hidden" id="gitUrl" name="gitUrl"/>
<div class="row">
	<div class="span2">
	
	</div>
	<div class="span6">
		<label for="email" class="control-label">Email:</label>
        <input class="focussed" type="text" id="emailAddress" name="emailAddress" placeholder="Enter your email"/>
	</div>
</div>
<div class="row">
	<div class="span2">
	
	</div>
	<div class="span6">
		<h2>Available Application templates for this Workshop</h2>
	</div>
</div>
<div class="row">
	<div class="span2">
		
	</div>
	<div class="span10">
		<ul class="thumbnails">
		<li class="span3">
          <div class="thumbnail">
            <div class="caption">
              <h5>Containerless Apps</h5>
              <p>This example will help you understand the basic setup of using Embedded containers and deploying 
              Containerless apps on Heroku. This approach is different from the traditional deployment model
              where app application is deployed to a container. In this case, the "container" is a part of the 
              app that can be distributed as a fully contained app. <br/>
              This example uses Tomcat 7 as the Embedded container invoked from a <span class="code">Main.java</span> class which then deploys a simple 
              Hello World JSP</p><br/>
              <p><a href="javascript:submitForm('demo1');" class="btn primary">Clone this App</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <div class="caption">
              <h5>Environment Variables</h5>
              <p>Environment variables are a great way to backing services such as Database, Web services, Message Queues that your application requires.
               By making them external to your application, the administrators of these services can make changes or swap out the end point with another without
               affecting your application. <br/>
               In this example we are demonstrating a Spring MVC application that will use the DATABASE_URL environment variable 
               which points to a Postgres Database.</p><br/>
              <p><a href="#" class="btn primary">Clone this App</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <div class="caption">
              <h5>Process Types</h5>
              <p>Any computer program, once run, is represented by one or more processes.
               Web apps have taken a variety of process-execution forms.
                Heroku app take strong cues from the unix process model for running service daemons. 
                Using this model, the developer can architect their app to handle diverse workloads.<br/>
                In this example we are going to demonstrate a simple one-off admin process as well as 
                a long running "worker" process</p><br/>
              <p><a href="#" class="btn primary">Clone this App</a></p>
            </div>
          </div>
        </li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span2">
	</div>
	<div class="span10">
		<ul class="thumbnails">
		<li class="span3">
          <div class="thumbnail">
            <div class="caption">
              <h5>RESTful Play!  application</h5>
              <p>Ruby-on-Rails popularized an easy way to build and deploy RESTful appliations and REST is an essential part of any application architecture. Play! framework
              makes RESTful application design an important part of how it structures an application. Play also uses a containerless app approach using netty as it's main
              container.<br/>
              In this example we walkthrough a simple Play! application a build a few RESTful calls into the application.</p><br/>
              <p><a href="#" class="btn primary">Clone this App</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <div class="caption">
              <h5>Push notifications</h5>
              <p>Todays applications require a high degree of interactivity and also require applications to be real time and providing latest up to date information to 
              the end users. With the growing popularity of HTML5, newer architectures for real time information delivery is emerging. Web Sockets is an emerging trend
              that a lot of large scale consumer apps such as Twitter etc. are leveraging. <br/>
              Pusher is a addon to Heroku makes it very easy to integrate push notifications
              into yor web application.</p>
              <p><a href="#" class="btn primary">Clone this App</a></p>
            </div>
          </div>
        </li>
		</ul>
	</div>
</div>
</form>
